@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, white, #E9F3FA, white);
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}