@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, white, #E9F3FA, white);
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* hero section css */

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 9s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}