@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Inter', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}